fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic[email]==2.9.2
bcrypt==4.2.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
yoyo-migrations==9.0.0
email-validator==2.1.0.post1
python-dotenv==1.0.0
pandas==2.2.3
psycopg2-binary==2.9.12
xlsxwriter==3.0.9
PyJWT==2.6.0
alembic==1.11.1
Jinja2==3.1.2
starlette-session==0.4.3
requests==2.34.2
openpyxl==3.1.2
python-socketio==5.8.0
pdfkit==1.0.0
httpx==0.26.0
lxml==5.1.0
oauth2client==4.1.3
xlrd==2.0.1
APScheduler == 3.11.3